html{
    background-color: #e0e1dd;

}

h1{
color: #0d1b2a; 
text-align: center;
font-family: "Libre Baskerville", serif;
font-weight: 400;
font-style: normal
}

footer{
    text-align: center;
}

#head{
    text-align: center;
    margin-top: 30px ;
    width: 100%;
    background-color: #415a77;
    color: #0d1b2a;
}

div{
    text-align: left;
    color: #778da9;
}

h2{
    text-align: center;
}

p{
    color:#1b263b ;
    font-family: "Libre baskerville", serif;
    text-align: center;
}

ul{
    color: #1b263b;
}
